light-gray = #f5f5f5;
gray = #ccc;
grid = 48em;
yellow = #D9A116

*{
    padding 0
    margin 0
    box-sizing border-box
    background none
    outline none
}

body
    background light-gray
    font-family 'Roboto Slab', serif  
    padding 1rem  

.grid
    width 100%
    max-width grid
    margin 5vh auto
