light-gray = #f5f5f5;
gray = #ccc;
grid = 48em;
yellow = #D9A116

*{
    padding 0
    margin 0
    box-sizing border-box
    background none
    outline none
}

body
    background light-gray
    font-family 'Roboto Slab', serif

form
    display flex;
    flex-flow row nowrap
    justify-content space-between
    margin 1em 0
    border double 4px transparent
    background-image linear-gradient(white, white), radial-gradient(circle at top left, #D9A116, #58555A)
    overflow hidden
    border-radius 20px
    background-origin border-box
    background-clip content-box, border-box

input
    width 70%
    padding .3em 1em
    border none
    font-size 1.5vw
    font-family 'Roboto Slab', serif
    font-weight 800
    &::placeholder
        font-weight 400
    

button
    width 25%;
    padding 1em
    border none
    background #58555A
    color #FBF37C
    font-size 1.5vw
    cursor pointer

section
    display flex
    flex-flow row nowrap
    justify-content space-between
    margin-top 3em
    p
        line-height 2
        &:before  
            content '✪';
            display inline-block	
            width 20px
            height 20px
            display inline-flex
            align-items center
            justify-content center
            color yellow

figure
    width 20em
    height 20em
    border-radius 50%
    display flex
    position relative
    align-items center
    justify-content center
    &:before
        position absolute
        content ''
        z-index -1
        display block
        width 80%
        height 80%  
        border-radius 50%
        // border 4px solid rgba(0, 0, 0, 0.05)
        background rgba(0, 0, 0, 0.05)
    img
        position 
        z-index 10
        // width 100%
    

.grid
    width 100%
    max-width grid
    margin 5vh auto

.resultName
.resultGender
    text-transform capitalize
    text-decoration underline dotted yellow
.resultGender
.resultProbability
.resultCount
    line-height 1em
    font-weight bold